
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.gitattributes
**/.vscode
**/.yarn
**/Dockerfile
**/build
**/node_modules
**/.editorconfig
**/.eslintrc.cjs
env.d.ts
enviroment.d.ts
LICENSE
README.md
